*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color:#0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo{
    height: 50px;
    width: 120px ;
    
}

.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border:hover{
    border: 1.5px solid white;
}

.add-1{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}

.add-2{
   font-size: 1rem;
   margin-left: 3px;
}

.add-icon{
    display: flex;
    align-items: center;
    border: 1.5px solid transparent;
}
.nav-address{
    height: 50px;
    width:90px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-address-inner{
    width: 90%;
}



.nav-search{
    display: flex;
    justify-content: space-evenly;
   
    width: 900px;
    height: 40px;
    border-radius: 4px;
}

.nav-search:hover{
    border: 2.5px solid orange;
    border-radius:4px ;
}
.select{
    background-color: #f3f3f3;
    width: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.search-select{
    border: none;
    background-color: #f3f3f3;
    font-weight: 100;
    font-size: 0.75rem;
    font-family: Arial, Helvetica, sans-serif;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

input:focus{
   outline-style: none;
   box-shadow: none;
}
.search-icon{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}

.flag{
    height: 50px;
    width: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flag1{
    display: flex;
    font-size: 0.85rem;
    align-items: center;
}


.sign-in-container{
    width: 132px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

span{
    font-size: 0.7rem;
    color: #ffffff;
}

.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}
.lower{
    display: flex;
    align-items: center;
    justify-content: center;
}
.arrow{
    font-size: .5rem;
}
.down-arrow{
    font-size: .5rem;
}
.sign-page{
    text-decoration: none;
    color: #cccccc;
}
.order-container{
    height: 50px;
    width: 78px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart{
    height: 50px;
    width: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:12px ;
}
.cart1{
    display: flex;
    font-size: 1.7rem;
}
.cart-text{
    font-size: .85rem;
    font-weight: 700;
    align-self: end;
}

/* Nav section */

.nav-info{
    display: flex;
    height: 40px;
    background-color: #222f3d;
    color: white;
    justify-content:space-around;
    align-items: center;
    font-size: 0.95rem;
    font-weight: 200;
}
.menu{
    display: flex;
    width: 60px;
    justify-content: space-evenly;
    font-size: 1.2rem;
    align-items: center;
}
.panel1{
    width: 80%;
    display: flex;
    
}
.panel{
    display: flex;
    width: 100%;
    height: 30px;
    justify-content: flex-start;
    align-items: center;
    
}

.lang{
    font-weight: 600;
}
.panel p{
    color: white;
    text-decoration: none;
    display: inline;
    margin-left: 15px;
    padding: 8px 5px 8px 5px;
}

.panel p a{
    text-decoration: none;
    color: #e2e7e6;
}
/* .panel p:hover{
    border: 1px solid white;
} */
.shop-deals p a{
    color: white;
    text-decoration: none;
}

    /* Cart Section */

.cart-container{
    width: 100%;
    height: 150vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #f3f3f3;

}
.cart-text{
    width: 65%;
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.quick-shop{
    width:28%;
    height: 150vh;
}
.amazon-cart{
    width:95%;
    height:160px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
}
.your-item{
    width: 95%;
    height: 160px;
    margin-top: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-start;
}
.amazon-cart h1,p{
    margin-left: 20px;
}
.your-item h1{
    margin-left: 20px;
    margin-top: 20px;
}